.acf-field-icon {
    container-type: inline-size;
    container-name: iconfield;
    .acf-icon-field__container {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    .acf-icon-field__selected-preview-container {
        height: 8rem;
        width: 8rem;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background-color: #f9f9f9;
        border: 1px solid #8c8f94;
        position: relative;
    }

    .acf-icon-field__preview-icon-name {
        word-break: break-all;
        text-align: center;
        font-size: .7rem;
    }

    .acf-icon-field__preview-no-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #8c8f94;
        font-size: .7rem;
    }

    .acf-icon-field__preview-clear {
        position: absolute;
        top: -0.5px;
        right: -0.5px;
        cursor: pointer;
        padding: .25rem;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #b32d2e;
    }

    .acf-icon-field__preview-clear-icon {
        font-size: 1rem;
        color: white;
    }

    .acf-icon-field__selected-preview-icon {
        display: flex;
        padding: .5rem;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }

    .acf-icon-field__preview-icon {
        font-size: 3rem;
    }

    .acf-icon-field__search {
        width: 100%;
    }

    .acf-icon-field__list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        background-color: #f9f9f9;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 0;
        margin-bottom: 0;
        
        &:not(:empty) {
            height: 10rem;
            border: 1px solid #8c8f94;
            border-top: none;
            border-radius: 0 0 6px 6px;
            padding: 1rem;
        }

        &:after {
            content: "";
            flex: auto;
        }
    }

    .acf-icon-field__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0 !important;
        padding: .25rem;
        border: solid 2px #f9f9f9;

        &:hover,
        &.is-selected {
            border: solid 2px #0783be;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    @container iconfield (max-width: 500px) {
        .acf-icon-field__container {
            flex-direction: column;
        }

        .acf-icon-field__search {
            width: 100%;
        }
    }
}