@use "./variables.scss";
@use "./options.scss";
@use "./editOverlay.scss";
@use "./setting.scss";

.acf-openstreetmap {
    position: relative;

    .acf-openstreetmap__button {
        cursor: pointer;
        padding: .5rem 1rem;
        background-color: variables.$color-white;
        border: 1px solid variables.$color-primary;
        color: variables.$color-primary;
        border-radius: 2px;
        transition: .2s ease-in-out;
        display: flex;
        justify-content: center;

        &.selected,
        &:hover {
            background-color: variables.$color-primary;
            color: variables.$color-white;
        }

        &.acf-openstreetmap__button--cancel {
            background-color: variables.$color-white;
            color: variables.$color-danger;
            border: 1px solid variables.$color-danger;
            &:hover {
                background-color: variables.$color-danger;
                color: variables.$color-white;
            }
        }
    }
}